{% extends '@sblog_views/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-8">

            {{ include('@sblog_views/Component/Article/detail.html.twig', { 'article': article }) }}
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    {{ render(controller('AppBundle:Main:showMostPopular', { 'max': 10 })) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ include('@sblog_views/Component/Article/gallery.html.twig', { 'images': article.images }) }}
        </div>
    </div>

    <div id="disqus_thread"></div>
{% endblock %}

{% block scripts %}

    <script>


        /*
         var disqus_config = function () {
         this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
         this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
         };
         */
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://test145751.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}
