{% extends '@sblog_views/layout.html.twig' %}

{% block content %}
     <div class="row">
        <div class="col-md-8">
            <h1>{{ title }}</h1>

            {{ include('@sblog_views/Component/Article/list.html.twig', { 'articles': articles }) }}
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">

                    {{ render(controller('AppBundle:Main:showMostPopular', { 'max': 10 })) }}

                </div>
            </div>
        </div>
     </div>
    {% if categoryId is defined %}
        {{ include('@sblog_views/Component/Pagination/pagination_category.html.twig', { 'thisPage': thisPage, 'maxPages': maxPages }) }}
    {% else %}
        {{ include('@sblog_views/Component/Pagination/pagination.html.twig', { 'thisPage': thisPage, 'maxPages': maxPages }) }}
    {% endif %}

{% endblock %}
