{% extends '@sblog_views/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>404</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Stránka sa nenašla</h2>
        </div>
    </div>

{% endblock %}