<div class="row">
    <div class="col-md-12">
        <div class="fotorama">
            {% set thumbnailExist = 0 %}
            {% for image in article.images %}
                {% if image.type == 1 %}
                    <img src="{{ asset('bundles/images/'~ image.filename) }}" width="100%">
                    {% set thumbnailExist = 1 %}
                {% endif %}
            {% endfor %}
            {% if thumbnailExist == 0 %}
                <img src="{{ asset('bundles/images/default_thumbnail.jpg') }}" width="100%">
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 article-detail-author">
                <strong>{{ article.createdAt|date("d. M. Y H:i") }}</strong> -
                {% if article.author %}
                    {{ article.author.name }}
                {% else %}
                    Neznámy
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>{{ article.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ article.content | convert_encoding('UTF-8', 'HTML-ENTITIES')|raw }}
            </div>
        </div>
    </div>
</div>
