<h3>Galéria</h3>
<div class="fotorama" data-nav="thumbs">
    {% set galleryExist = 0 %}
    {% for image in images %}
        {% if image.type == 2 %}
            <img src="{{ asset('bundles/images/'~ image.filename) }}" width="100%">
            {% set galleryExist = 1 %}
        {% endif %}
    {% endfor %}
    {% if galleryExist == 0 %}
        <h4>Galéria je prázdna</h4>
    {% endif %}
</div>