<div class="row article-item">
    <div class="col-md-4">
        <div class="fotorama">

            {% set thumbnailExist = 0 %}
            {% for image in article.images %}
                {% if image.type == 1 %}
                    <a href="{{ path('show_article', {id: article.id}) }}"><img src="{{ asset('bundles/images/'~ image.filename) }}" width="200px"></a>
                    {% set thumbnailExist = 1 %}
                {% endif %}
            {% endfor %}
            {% if thumbnailExist == 0 %}
                <img src="{{ asset('bundles/images/default_thumbnail.jpg') }}" width="200px">
            {% endif %}

        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <strong>{{ article.createdAt|date("d. M. Y H:i") }}</strong> -
                {% if article.author %}
                    {{ article.author.name }}
                {% else %}
                    Neznámy
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="article-list-title">
                    <a href="{{ path('show_article', {id: article.id}) }}">{{ article.title }}</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ article.content | truncate(150, true)|convert_encoding('UTF-8', 'HTML-ENTITIES')|raw }}
            </div>
        </div>
    </div>
</div>

