.article-list-title{
  font-size: 25px;
}
.article-item{
  margin-top: 20px;
}
.article-list-title a {
  color: black !important;
}
.article-detail-title{
  font-size: 40px;
}
.article-detail-author{
  margin-top: 10px;
}