$mainColor: #00a6b7;

@import "article";

html,body {
  margin: 0;
  padding: 0;
  border: none;
  height: 100%;
  outline: none;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  color: #333;
}
.container{
  padding-top: 15px;
  padding-bottom: 15px;
}