.article-list-title {
  font-size: 25px; }

.article-item {
  margin-top: 20px; }

.article-list-title a {
  color: black !important; }

.article-detail-title {
  font-size: 40px; }

.article-detail-author {
  margin-top: 10px; }

html, body {
  margin: 0;
  padding: 0;
  border: none;
  height: 100%;
  outline: none;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  color: #333; }

.container {
  padding-top: 15px;
  padding-bottom: 15px; }

/*# sourceMappingURL=style.css.map */
