<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('app_homepage') }}">SBlog</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                {% for category in categories %}
                    <li><a href="{{ path('show_category', {id: category.id}) }}">{{ category.title }}</a></li>
                {% endfor %}

            </ul>
            <form class="navbar-form navbar-left">
                {#<div class="form-group">#}
                    {#<input type="text" class="form-control" placeholder="Search">#}
                {#</div>#}
                {#<button type="submit" class="btn btn-default">Submit</button>#}
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">O mne</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
        </div>
    </div>
</nav>