<div class="row">
    <div class="col-md-12 text-center">
        {% if maxPages > 1 %}
            <ul class="pagination pagination-sm">
                <li {{ thisPage == 1 ? 'class="disabled"' }}>
                    <a href="{{ path('app_homepage', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
                </li>

                {% for i in 1..maxPages %}
                    <li {{ thisPage == i ? 'class="active"' }}>
                        <a href="{{ path('app_homepage', {page: i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                    <a href="{{ path('app_homepage', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
                </li>
            </ul>
        {% endif %}
    </div>
</div>
